#login_form{
    font-family: arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background-color: #e8f1f4;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    box-shadow: -1px 6px 6px -6px rgba(0, 0, 0, 0.35);
}
#login_form .before{
    box-shadow: -1px 6px 6px -6px rgba(0, 0, 0, 0.35);
    display:block;
    height:50px;
    background-color: #1ba1e2;
    width:100%;
    margin-bottom: 5px;
    top: -1px;
    position: relative;
}
#login_form .before p{
    color:white;
    font-size: 30px;
    font-weight:bolder;
    margin: 8px;
    margin-left: 10px;
    text-align: center;
}
#login_form .after{
    content:"";
    display:block;
    height:50px;
    background-color: #1ba1e2;
    width:100%;
    margin-top:5px;
    position: relative;
    bottom: -1px;
}
#login_form input{
    width: 380px;
    height: 50px;
    padding: 10px;
    margin:3px;
    box-sizing: border-box;
    font-size: 20px;
    border: 1px #d9d9d9 solid;
}
#error{
    border:none;
    color: red;
}
#name{
    border:none;
}

#pass{
    border:none;
}

#submit{
    border:none;
    background-color: white;
}